<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuário</title>
</head>
<body>
<form action="@{/cadastrarUser}" method="post" id="cadastroUsuario">
    <h1>Cadastro de Usuário</h1>
    <label>Nome:</label>
    <input type="text" name="nome" placeholder="Insira o nome..." required>
    <label>Email:</label>
    <input type="email" name="email" placeholder="Insira o email..." required>
    <label>Número:</label>
    <input type="text" name="telefone" placeholder="Insira fone para contato..." required>
    <button type="submit">Cadastrar</button>
</form>

<h2>Lista de Usuários</h2>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Telefone</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${user}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.phoneNumber}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
